.tasks-list {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.tasks-two {
  display: flex;
  justify-content: center;
}

.tasks-two .task-container {
  margin: 0 30px;
}

@media (max-width: 800px) {
  .tasks-list {
    flex-direction: column;
  }
  .tasks-two {
    display: block;
  }
  .tasks-two .task-container {
    margin: 0;
}
}