.new-task {
  width: 22em;
  margin: 0 auto 2em;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  background: #3a3f45;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #333;
}

.new-task__label {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.new-task__label input, .new-task__label textarea {
  width: 65%;
  padding: 5px 10px;
}

.app__create {
  margin: 0 auto;
  margin-bottom: 1em;
  background: slateblue;
  margin: 10px 0;
  width: 100%;
  display: inline-block;
}
