.app {
  text-align: center;
  background: linear-gradient(45deg, cadetblue, darkcyan);
  height: 100vh;
}

.app__create {
  margin: 0 auto;
  margin-bottom: 1em;
  background: slateblue;
  margin: 10px 0;
  min-width: 240px;
  max-width: 240px;
  display: inline-block;
}
